{% extends "navbar.html" %}
{% block content %}

<body>
<table>
<thead>
<tr>
    {% for field in fields %}
        <th>{{ field }}</th>
    {% endfor %}
{#<th>IP</th>#}
{#<th>Server FQDN</th>#}
{#  <th>Type</th>#}
{#  <th>OS</th>#}
{#  <th>Memory</th>#}
{#  <th>CPU</th>#}
{#  <th>Bind Type</th>#}
{#  <th>Exim Type</th>#}
{#  <th>Instance(AWS)</th>#}
{#    <th>Exim Type</th>#}
{#  <th>Instance(AWS)</th>#}
  </tr>
</thead>
<tbody>
{% for customer in customers %}
    <tr>
    <td>{{ customer.first_name }}</td>
    <td>{{ customer.middle_name}}</td>
    <td>{{ customer.last_name }}</td>
    <td>{{ customer.address }}</td>
    <td>{{ customer.company_name}}</td>
    <td>{{ customer.phone_number }}</td>
    <td>{{ customer.status }}</td>
    <td>{{ customer.age }}</td>
    <td>{{ customer.income }}</td>
    </tr>
{% endfor %}
  <tr>
{#  <td>56.208.157.93</td>#}
{#  <td>filler</td>#}
{#    <td>AWS</td>#}
{#    <td>Ubuntu</td>#}
{#    <td>3840 MB</td>#}
{#    <td>2.60 GHz</td>#}
{#    <td>master</td>#}
{#    <td>master</td>#}
{#    <td>m3.medium</td>#}
{#      <td>master</td>#}
{#    <td>m3.medium</td>#}
{##}
{#  </tr>#}
{#<tr>#}
{#  <td>56.208.157.93</td>#}
{#  <td>filler</td>#}
{#    <td>AWS</td>#}
{#    <td>Ubuntu</td>#}
{#    <td>3840 MB</td>#}
{#    <td>2.60 GHz</td>#}
{#    <td>master</td>#}
{#    <td>master</td>#}
{#    <td>m3.medium</td>#}
{#      <td>master</td>#}
{#    <td>m3.medium</td>#}
{##}
{#  </tr>#}
{#<tr>#}
{#  <td>56.208.157.93</td>#}
{#  <td>filler</td>#}
{#    <td>AWS</td>#}
{#    <td>Ubuntu</td>#}
{#    <td>3840 MB</td>#}
{#    <td>2.60 GHz</td>#}
{#    <td>master</td>#}
{#    <td>master</td>#}
{#    <td>m3.medium</td>#}
{#      <td>master</td>#}
{#    <td>m3.medium</td>#}
{##}
{#  </tr>#}
</tbody>
</table>

</body>

{% endblock %}
