{% extends "navbar.html" %}
{% block content %}
    <body class="main-content">

  <header>
    <h1>Customer Form</h1>

  </header>


  <div class="form-group">

      <form id="form" method="POST" >
          {% csrf_token %}
          <b>{{ customer_form.as_p }}</b>
          <button type="submit">Add</button>

      </form>
  </div>
{#  <div class="form-group">#}
{#    <label>First Name</label>#}
{#    <input value="Rick" class="input-control" />#}
{##}
{#    <label class="right-inline">Last Name</label>#}
{#    <input value="Strahl" class="input-control" />#}
{#  </div>#}
{##}
{#  <div class="form-group">#}
{#    <label>Company</label>#}
{#    <input value="West Wind" class="input-control" />#}
{#  </div>#}
{##}
{#  <div class="form-group">#}
{#    <label>Address</label>#}
{#    <textarea class="input-control">32 North End</textarea>#}
{#  </div>#}
{##}
{#  <div class="form-group">#}
{#    <label>City,State,Zip</label>#}
{#    <input value="Walnut Creek" class="input-control" placeholder="City" style="flex: 6" />#}
{#    <input value="CA" class="input-control" placeholder="State" style="flex:1" />#}
{#    <input value="94152" class="input-control" placeholder="Postal Code" style="flex:2" />#}
{#  </div>#}
{##}
{#  <div class="form-group">#}
{#    <label>&nbsp;</label>#}
{#    <button>Save</button>#}
{#    <button>Cancel</button>#}
{##}
{#  </div>#}

</body>

{% endblock %}

