{% load static %}
{% load compress %}

<head>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

     <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>

{#    <link rel="stylesheet" href="{% static 'style.css' %}">#}
{#     <link rel="stylesheet" href="{% static 'login.css' %}">#}
{#     <link rel="stylesheet" href="{% static 'form.css' %}">#}
    {% compress css %}
    <link type="text/x-scss" href="{% static 'style.scss' %}"  rel="stylesheet" media="screen">
    {% endcompress %}
 {% compress css %}
     <link type="text/x-scss" href="{% static 'login.scss' %}"  rel="stylesheet" media="screen">
{% endcompress %}
 {% compress css %}
     <link type="text/x-scss" href="{% static 'form.scss' %}" rel="stylesheet" media="screen">
{% endcompress %}

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Red+Hat+Text:400,700&display=swap" rel="stylesheet">

</head>
<body>

<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
    <a  href="{% url 'customertable:home' %}" >PIT Test</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">

      {% if request.user.is_authenticated %}
          <a href="{% url 'customertable:logout' %}" >Logout</a>
           <a  href="{% url 'customertable:home' %}" >Customer Table</a>
           <a href="{% url 'customertable:input_customer' %}" >Input Customer</a>

      {% else %}
          <a href="{% url 'customertable:register' %}" >Register</a>
          <a href="{% url 'customertable:login' %}" >Login</a>
      {% endif %}

{#     <a href="{% url 'customertable:register' %}" >Register</a>#}
{#       <a href="{% url 'customertable:login' %}" >Login</a>#}
{#     <a  href="{% url 'customertable:home' %}" >Customer Table</a>#}
{#    <a href="{% url 'customertable:input_customer' %}" >Input Customer</a>#}

  </div>
</div>

<content>

    {% block content %}

    {% endblock %}


</content>






</body>