{% extends "navbar.html" %}
{% block content %}
<body>
<h1>Register</h1>

  <form method="POST" id="signup-form" class="signup-form">
      {% csrf_token %}
      {% for field in form %}
          <div class="row">
              {{ field }}
          </div>
      {% endfor %}

{#  <div class="row">#}
{#    <label for="email">Email</label>#}
{#    <input type="email" name="email" autocomplete="off" placeholder="email@example.com">#}
{#  </div>#}
{#  <div class="row">#}
{#    <label for="password">Password</label>#}
{#    <input type="password" name="password">#}
{#  </div>#}
  <div class="form-group">
      <input type="submit" name="submit" id="submit" class="form-submit" value="Register"/>
  </div>

</form>
{% if messages %}
      {% for message in messages %}
          <p>{{ message }}</p>
      {% endfor %}
  {% endif %}

{# <div>#}
{#    {% if registered %}#}
{#        <strong>Thank You for Registering with Us.</strong>#}
{#        <a href="{% url 'customertable:table' %}" class="btn-link btn">Return to the HomePage</a><br>#}
{#    {% else %}#}
{#        <strong class="display-3 mb-4">Register Here... </strong>#}
{#        <h1>Register</h1>#}
{#        <form action="{% url 'customertable:register' %}" class="pt-3" method="POST">#}
{#            {% csrf_token %}#}
{#            {{ registration_form.as_p }}#}
{#            <input type="submit" name="submit" value="Register" class="btn btn-success">#}
{#            <p class="p-2 m-1">Already a Member? <a href="{% url 'customertable:login' %}">Sign In Here...</a></p>#}
{#        </form>#}
{#    {% endif %}#}
{#    </div>#}


</body>
{% endblock %}

